    *{
        padding: 0; 
        margin: 0;
        font-family: 'Titillium Web', sans-serif;
    }
    #main{
        display: grid;
        grid-template-areas: "footer footer";
    }

    .brand-logo{
        padding-left: 30px!important;
        max-width: 100%;
        height: 100%;
    }

    .brand-logo img{
        max-width: 100%;
        max-height: 100%;
    }

    nav{
        background-color: #000030!important;
    }

    nav a{
        color: #DDDDDD!important;
    }

    nav ul a{
        color: #DDDDDD!important;
    }

    #nav-mobile li a{
        padding-right: 30px;
        padding-left: 30px;
    }

    nav ul a:hover {
        background-color: none;
        color: #ffffff!important;
    }

    .nav-logo{
        padding: 5px 0;
    }

    /*.nav-wrapper{
        height: 10vh!important;
    }
    /*.navbar-fixed{
        position: absolute;
    }*/

    .backg{
        height: 90vh!important;
        background-image: linear-gradient(to top,rgba(14,14,14,0.5) 1%,rgba(14,14,14,0.4) 10%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .backg p{
        font-family: 'Teko';
        font-size: 75px;
        text-transform: uppercase;
        font-weight: 300;
        color: #fff;
        text-shadow: 4px 2px 10px rgb(0, 0, 0);
        letter-spacing: 5px;
   }

   @media only screen and (max-width: 600px) {
    .backg p{
        font-size: 56px;
  }
}

    @media only screen and (max-width: 500px) {
    .backg p{
        font-size: 46px;
  }
}

    @media only screen and (max-width: 400px) {
    .backg p{
        font-size: 36px;
  }
}

 /* .Banner-mobile {
    background-position: 50% 210px !important;height: 600px;
  }*/


  /*Sobre nós*/

  .textBorder{
    border-bottom: 3px solid #231a50;
    display: inline;
  }

  .rowSobre {
    padding-top: 80px;
    padding-bottom: 90px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    
  }

  .titleBorder{
    margin-bottom: 60px;
  }

  .textSobre {
    padding-right: 30px;
    align-self: center;
    text-align: justify;
    width: auto;
  }

  .rowSobre img {
    margin-top: 70px;
    vertical-align: middle;
    max-width: 100%;
  }

  @media only screen and (max-width: 700px) {
      .rowSobre {
        grid-template-columns: 1fr;
      }

      .rowSobre img{
        margin-top: 0px;
        margin-left: 20px;
      }

      .textSobre{
        padding: 0;
        margin-left: 50px;
        margin-right: 50px;
      }
}

    @media only screen and (max-width: 470px) {
        .rowSobre img{
            margin-left: 0px;
            /*max-width: 110%;*/

        }
  
    }

  
    /***CONTAINER CONTATO***/

    .container_conteudo{
        height: 100vh;
        height: 100%;
    }

    .conteudo_info{
        color: #ffffff;
        padding: 10px;
        background-color: rgba(0,0,0,0.64);
        padding: 0.5rem;
        
    }

    .conteudo_info ul{
        padding-top: 20px;
     
    }

    .semnome{
        padding-left: 30px;
    }
    .container_conteudo{
        
        width: 100%;
        background-image: url(../img/fundo.jpeg);
        background-size: cover;
        background-attachment: fixed; 
        display: flex;
        flex-direction: column;
        
    }

   .texto{
        padding-top: 20px;
       
   }

   .texto p{
       font-size: 20px;
   }

   /***MAPA***/

    .map{
        overflow: hidden;
        height: 335px;
        /*background-color: red;*/
        padding-top: 2rem;
       
    }


    /*CARROUSSEL BEGIN*/
     .carroussel_itens{
        padding-top: 5rem;
        padding-bottom: 5rem;
       background-color: #fff;
        overflow: hidden;

    }
    .carroussel_itens img{
        max-width:200px;
        max-height:150px;
        width: auto;
        height: auto;

        display: block;
        margin: 0 auto;
    }



    /*CARROUSSEL END*/


    /****FOOTER****/
    .mainFooter{ grid-area:footer; display: grid; grid-template-areas: "contente" "copyright"; }
    .footerContent{
        grid-area: contente; background-color: #000030;
        color: #DDDDDD;
    }

    .footerContent{
        padding: 20px;
    }

    .logoFooter{
        margin: 0;
        text-align: center;
    }

    .logoFooter img{
        border-radius: 50%;
        height: 30vh;
    }

    .contato{
        list-style: none;
        font-size: 1rem;
        
    }
    
    .contato li{
        padding: 5px;
    }

    .contato li i{
        padding-right: 10px;
    }

    .redesSociais li a i{
       padding: 15px;
        border-radius: 50%;
        border-bottom: 4px solid #ffffff;
        border-right: 0px solid #ffffff;
        border-left: 3px solid rgb(48, 6, 23);
        border-top: 2px solid rgb(48, 6, 23);
    }

    .redesSociais li a i:hover{

        border-bottom: 4px solid rgb(48, 6, 23);
         border-right: 0px solid rgb(48, 6, 23);
         border-left: 3px solid #ffffff;
         border-top: 2px solid #ffffff;
         transition:all 0.3s ease;
         -webkit-transform: scale(1.3);
         -ms-transform: scale(1.3);
         transform: scale(1.3);
     }

    .redesSociais{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2rem;
        padding-top: 15px;


    }

    .redesSociais li{
        padding-right: 30px;
    }

    .redesSociais a{
        text-decoration: none;
        color: #DDDDDD;

    }

    .footerCopyright{
        grid-area: copyright;
        background: #000021;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 15px ;
    }
    .footerCopyright img{
        height: 23px;
        padding-left: 10px;
    }

    .footerCopyright h4{
        color: #ffffff;
        font-size: 15px;
        
    }

    .fale_conosco h2{
        padding-bottom: 20px;
       
    }


    @media screen and (min-width: 992px) {
        .semnome{
            padding-left: 0;
        }
        .footerContent{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .fale_conosco{
            padding: 20px;
        } 


        /*conteudo*/
        .conteudo_info{
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;

            padding: 7rem;
            
        }

        .map{
             margin: 0 auto;
             height: 400px;
             width: 600px;
        }

        .map iframe{
            width: 100%;
            height: 100%;
            
        }

    }

    /*
    
    xs (for phones - screens less than 768px wide)
    sm (for tablets - screens equal to or greater than 768px wide)
    md (for small laptops - screens equal to or greater than 992px wide)
    lg (for laptops and desktops - screens equal to or greater than 1200px wide)
    
    */
