    *{
        padding: 0; margin: 0;
        font-family: 'Titillium Web', sans-serif;
    }
    #main{
        display: grid;   
        grid-template-areas: "header header" "nav nav" "contentss contentss" "footer footer";
    }

    .mainHeader{ grid-area: header; background: red; }
    .mainNav{ grid-area: nav; background: green; }
    .mainContent{ grid-area: contentss;  }



    /***CONTAINER CONTATO***/
    .mainContent{
    
      
    }

    .conteudo_info{
        color: #ffffff;
        padding: 10px;
        background-color: rgba(0,0,0,0.64);
        padding: 0.5rem;
        
    }

    .conteudo_info ul{
        padding-top: 20px;
     
    }




    /**LINK 3D*/
    

        

/*FIIIIIIM*/

    .container_conteudo{
        
        width: 100%;
        background-image: url(../img/fundo.jpeg);
        background-size: cover;
        background-attachment: fixed; 
      
        display: flex;
        flex-direction: column;
        
        
            
    }

   .texto{
        padding-top: 20px;
       
   }

   .texto p{
       font-size: 20px;
   }

   /***MAPA***/

    .map{
        overflow: hidden;
        height: 335px;
        /*background-color: red;*/
        padding-top: 2rem;
       
    }



/******************/

   


    /****FOOTER****/
    .mainFooter{ grid-area:footer; display: grid; grid-template-areas: "contente" "copyright"; }
    .footerContent{
        grid-area: contente; background-color: #000030;
        color: #DDDDDD;
    }

    .footerContent{
        padding: 20px;
    }

    .logo{
        text-align: center;
    }

    .logo img{
        border-radius: 50%;
        height: 30vh;
    }

    .contato{
        list-style: none;
        font-size: 1rem;
        
    }
    
    .contato li{
        padding: 5px;
    }

    .contato li i{
        padding-right: 10px;
    }

    .redesSociais li a i{
       padding: 15px;
        border-radius: 50%;
        border-bottom: 4px solid #ffffff;
        border-right: 0px solid #ffffff;
        border-left: 3px solid rgb(48, 6, 23);
        border-top: 2px solid rgb(48, 6, 23);
    }

    .redesSociais li a i:hover{

        border-bottom: 4px solid rgb(48, 6, 23);
         border-right: 0px solid rgb(48, 6, 23);
         border-left: 3px solid #ffffff;
         border-top: 2px solid #ffffff;
         transition:all 0.3s ease;
         -webkit-transform: scale(1.3);
         -ms-transform: scale(1.3);
         transform: scale(1.3);
     }
    .redesSociais{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2rem;
        padding-top: 15px;


    }

    .redesSociais li{
        padding-right: 30px;
    }

    .redesSociais a{
        text-decoration: none;
        color: #DDDDDD;

    }

    .footerCopyright{
        grid-area: copyright;
        background: #000021;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 15px ;
    }
    .footerCopyright img{
        height: 23px;
        padding-left: 10px;
    }

    .footerCopyright h4{
        color: #ffffff;
        font-size: 15px;
        
    }

    .fale_conosco h2{
        padding-bottom: 20px;
       
    }


    @media screen and (min-width: 992px) {
        .footerContent{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .fale_conosco{
            padding: 20px;
        } 


        /*conteudo*/
        .conteudo_info{
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;

            padding: 7rem;
            
        }

        .map{
             margin: 0 auto;
             height: 400px;
             width: 600px;
        }

        .map iframe{
            width: 100%;
            height: 100%;
            
        }

    }

    /*
    
    xs (for phones - screens less than 768px wide)
    sm (for tablets - screens equal to or greater than 768px wide)
    md (for small laptops - screens equal to or greater than 992px wide)
    lg (for laptops and desktops - screens equal to or greater than 1200px wide)
    
    */
